@page "/categorias"
@inject IHttpServicio http
<h3>Buscar por Categoria</h3>
<table>
    <tr>
        <th>Id</th>
        <th>NombreCategoria</th>
    </tr>
    @if (categorias == null)
    {
        <p>Buscando ...</p>
    }
    else if (categorias.Count == 0)
    {
        <p>No se encontraron categorías.</p>
    }
    else
    {
        @foreach (var categoria in categorias)
        {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.NombreCategoria</td>
                <td>@categoria.Descripcion</td>
            </tr>
        }
    }
</table>

@code {
    List<CategoriaDTO> categorias;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await SeleccionarCategoria();
    }

    private async Task SeleccionarCategoria()
    {
        var response = await http.Get<List<CategoriaDTO>>("api/categoria");
        if (!response.Error)
        {
            categorias = response.Respuesta;
        }
        else
        {
            categorias = new List<CategoriaDTO>();
        }
    }
}