@page "/categorias"
@inject HttpClient Http
<h3>Buscar por Categoria</h3>
<table>
    <tr>
        <th>Id</th>
        <th>NombreCategoria</th>
        
    </tr>
    @if (categorias == null)
    {
        <p>Buscando ...</p>
    }
    else if (categorias.Count == 0)
    {
        <p>No se encontraron los servicios.</p>
    }
    else
    {
        @foreach (var categoria in categorias)
        {
            <tr>
                <td>@categoria.Id</td>
                
            </tr>
        }
    }  
</table>

@code {
    List<CategoriaDTO> categorias;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await SeleccionarCategoria();
    }
    private async Task SeleccionarCategoria()
    {
      
       
        categorias = await Http.GetFromJsonAsync<List<CategoriaDTO>>("api/categoria");
    }

}

